<div class="row">
    <div class="col-sm-6">

        <div  *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Plano Selecionado Com Sucesso!</strong> Este plano foi adicionado para a sua conta.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>


<form
    name="form"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
    novalidate
>

    <ng-container *ngFor="let plano of planos" style="margin: 0.5%;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{plano.nome}}</h5>
            <p class="card-subtitle">R$ {{plano.preco}}</p>
            <p class="card-text">{{plano.detalhe}}</p>
            <button mat-raised-button color="primary">Selecionar</button>
        </div>
    </div>
    </ng-container>

</form>

    </div>
</div>